* {
  margin: 0;
  padding: 0;
}

#page-container {
  display: flex;
  height: 100vh;
  width: 100vw;
}

#image-section {
  background: url(images/halie-west-25xggax4bSA-unsplash.jpg) no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#logo-container {
  width: 35vw;
  height: 16vh;
  background-color: rgba(0,0,0, .5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: auto;
  margin-top: 26vh;
}
#odin-logo {
  height: 12vh;
  width: auto;
}
#odin-text {
  color: white;
  font-size: 80px;
  font-weight: 400;
  font-family: 'Caesar Dressing', cursive;
}
#footer {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  opacity: .7;
}
#footer > a {
  color: white;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: underline;
  font-weight: lighter;
}

#form-section{  
  width: 65%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 4vh;
  background-color:#e0e2f5;
}
#form-header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 38vw;
  padding-left: 4vw;
}
#form-header > h2 {
  padding: 10px 0;
}
#form-container {
  background-color: #ffffff;
  box-shadow: 0px 3px 3px #a5a5a5;
  width: 100%;
}
#form {
  max-width: 40vw;
  height: 30vh;
  padding-left: 4vw;
}
#form > h2 {
  padding: 2vh 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#button-container {
  padding-left: 4vw;
}
button {
  background-color: #596D48;
  border-radius: 5px;
  box-shadow: none;
  color: #fff;
  padding: 12px 44px;
  border: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  font-weight:bold;  
}
#button-container > p {
  padding-top: 2vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif ;
  font-size: 18px;
}
p > a {
  text-decoration: none;
  color:#596D48 ;
  font-weight:bold ;
}